<% if(typeof key_search !== 'undefined' && key_search!='') { %> <h4> 
        <% if (count_result)  { %> Có <%= count_result %><% } else { %> Không có <% } %>
        kết quả  phù hợp với từ khóa : "<%= key_search %>"
</h4> <% } %>
<% var articles = JSON.parse(data_articles); if(articles!=null && articles.length > 0) { %>
    <% articles.forEach(function(item, index){ %>
        <article>
                <h4>
                    <a href="/backend/articles/edit/<% if(item._id) { %><%= item._id %><% } %>">
                        <% if(item.title) { %><%= item.title %><% } %>
                    </a>
                </h4>
                <% var means =  item.tags; if(means!=null && means.length > 0) { %>
                    <% means.forEach(function(item_mean, index){ %>
                        <label class="label label-danger"><% if(item_mean) { %><%= item_mean %><% } %></label>
                    <% }) %>
                <% } %><br>
                <% if(item.created_at) { %><%= get_time(item.created_at) %><% } %>
                <br>
                <% if(item.content) { %><%= get_description(item.content, 200) %><% } %>
                
                <br>
                <a href="/backend/articles/edit/<% if(item._id) { %><%= item._id %><% } %>">edit</a>
                <form action="/backend/articles/delete?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value="<% if(item._id) { %><%= item._id %><% } %>">
                    <button type="submit" onclick="return confirm ('Are you sure ?')" class="btn-link">delete</button>
                </form>
            </article>
    <% }) %>
<% } %>


<%- include('../layouts/parts/pagination.ejs'); -%>