<script src="<%= get_admin_url(); %>/js/jquery.min.js"></script>
    <script src="<%= get_admin_url(); %>/js/bootstrap.min.js"></script>
    <script src="<%= get_admin_url(); %>/js/bootstrap-tagsinput.min.js"></script>
    <script src="<%= get_admin_url(); %>/js/vue.min.js"></script>
    <script src="<%= get_admin_url(); %>/js/socket.io.js"></script>
    <script> var socket = io('http://127.0.0.1:3000/'); </script>
    <script src="<%= get_admin_url(); %>/js/scripts.js"></script>
</body>

</html>