<%- include('../layouts/inc/functions.ejs'); -%>
    <!-- https://hoangsi.com/ -->
    <!DOCTYPE html>
    <html lang='en'>

    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <link rel="stylesheet" href="<%= get_admin_url(); %>/css/bootstrap.min.css">
        <link rel="stylesheet" href="<%= get_admin_url(); %>/css/font-awesome.min.css">
        <link rel="shortcut icon" href="<%= get_admin_url(); %>/images/favicon.ico" type="image/x-icon" />
        <title>Forgot your password?</title>
        <style>
            html,
            body,
            #wrapper {
                background: #222;
                height: 100%;
            }

            #wrapper_login {
                top: 30%;
                position: relative;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            label {
                font-weight: lighter;
            }

            .tooltip-arrow {
                left: 10% !important;
                border-bottom-color: #ca2f2f !important;

            }

            .tooltip-inner {
                width: 100% !important;
                background: #ca2f2f;
                max-width: 320px;
            }

            .error {
                /* width: 100% !important; */
                position: absolute;
                background: #ca2f2f;
                max-width: 320px;
                padding: 3px 8px;
                margin-top: 5px;
                color: #fff;
                border-radius: 4px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: left;
                text-align: start;
                text-decoration: none;
                text-shadow: none;
                text-transform: none;
                letter-spacing: normal;
                word-break: normal;
                word-spacing: normal;
                word-wrap: normal;
                white-space: normal;
                line-break: auto;
                opacity: 0.9;
                display: inline-block;
                z-index: 99;
            }

            .error::before {
                content: "";
                border-bottom-color: #ca2f2f !important;
                position: absolute;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                margin-top: -8px;
                margin-left: 15px;
                border-width: 0 5px 5px;
                opacity: 0.9;
            }

            .form-group {
                position: relative;
            }
        </style>
    </head>

    <body>
        <div class="container" id="wrapper">
            <div id="wrapper_login">
                <div class="panel col-md-4 col-md-offset-4">
                    <div class="panel-body">
                        <form id="app" action="/password_reset" method="post" ref="form" v-on:submit.prevent="submit_validate">
                            <div class="form-group">
                                <label for="username">
                                    <small>Enter your email address and we will send you a link to reset your password.</small>
                                </label>
                                <input type="text" class="form-control" name="email" v-model="email" v-on:input="realtime_validate" ref="email" v-focus autocomplete="off"
                                    placeholder="Enter your email address">
                                <span v-if="err_email" class="error ">{{ err_email }}</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" v-on:click="submit_validate">Send password reset email</button>
                            </div>
                            <small>
                                <a href="/signin">Return to sign in</a>
                            </small>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="<%= get_admin_url(); %>/js/jquery.min.js"></script>
        <script src="<%= get_admin_url(); %>/js/bootstrap.min.js"></script>
        <script src="<%= get_admin_url(); %>/js/vue.min.js"></script>
        <script src="<%= get_admin_url(); %>/js/socket.io.js"></script>
        <script> var socket = io('http://127.0.0.1:3000/'); </script>
        <script>
            Vue.directive('focus', {
                inserted: function (el) {
                    el.focus()
                }
            });
            var app = new Vue({
                el: '#app',
                data: {
                    email: null,
                    err_email: null,
                    alert: "The password reset process has now been started. Please check your email for instructions on what to do next."
                },
                methods: {
                    realtime_validate: function () {
                        this.err_email = null;
                        if (!this.email) {
                            this.err_email = "Email required."; this.$refs.email.focus();
                        } else if (!this.valid_email(this.email)) {
                            this.err_email = "Valid email required."; this.$refs.email.focus();
                        }

                    },
                    submit_validate: function () {
                        this.realtime_validate();
                        if (!this.err_email) return this.$refs.form.submit();
                    },
                    valid_email: function (email) {
                        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        return re.test(email);
                    }
                }
            })

        </script>
    </body>

    </html>